.lucky-box {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
#lucky-wheel, #lucky-grid {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
}
.lucky-wheel-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0);
  border-radius: 50%;
  cursor: pointer;
}
.lucky-grid-btn {
  position: absolute;
  background: rgba(0, 0, 0, 0);
  border-radius: 0;
  cursor: pointer;
}
.lucky-imgs {
  width: 0;
  height: 0;
  visibility: hidden;
}